#couple {
    background-color: color(white);

    .couple-block {
        display: block;
        position: relative;
        width: 600px;
        height: 600px;
        margin: 0 auto 200px;
        border: $border-width solid color(rose);

        .typography-headline {
            position: absolute;
            bottom: 20%;
            left: -8%;
            padding: 0.5em 0;
            background-color: color(white);
        }

        @include medium() {
            width: 400px;
            height: 400px;
        }

        @include small() {
            width: 74vw;
            height: 64vh;
            margin-bottom: 120px;

            .typography-headline {
                top: 4%;
                bottom: auto;
                left: -8%;
            }
        }
    }

    .couple-profile {
        @include background('couple', 'png', 0 0 / 100% auto no-repeat);
        display: block;
        position: absolute;
        top: 160px;
        right: -170px;
        width: 366px;
        height: 745px;

        @include medium() {
            width: 260px;
            height: 549px;
        }

        @include small() {
            top: 200px;
            right: -60px;
            width: 210px;
            height: 427px;
        }
    }
}
