#invitation {
    position: relative;
    text-shadow: 0 0 64px rgba(0,0,0, 0.25);
    background: color(moss) url('/public/img/pointers.jpg') left 70% / cover no-repeat fixed;
    // background-blend-mode: hue;

    // .invitation-scrim {
    //     content: '';
    //     display: block;
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     bottom: 0;
    //     left: 0;
    //     background-color: rgba(color(charcoal), 0.35);
    //     background-blend-mode: multiply;
    // }
}
