@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?13422039');
    src: url('../font/fontello.eot?13422039#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?13422039') format('woff2'),
       url('../font/fontello.woff?13422039') format('woff'),
       url('../font/fontello.ttf?13422039') format('truetype'),
       url('../font/fontello.svg?13422039#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
