@mixin background($name, $ext, $options: center center / auto auto no-repeat) {
    $-path: '../img/';

    @include large() {
        background: url('#{$-path}#{$name}_large.#{$ext}') $options;

        @include retina() {
            background: url('#{$-path}#{$name}_large@2x.#{$ext}') $options;
        }
    }

    @include medium() {
        background: url('#{$-path}#{$name}_medium.#{$ext}') $options;

        @include retina() {
            background: url('#{$-path}#{$name}_medium@2x.#{$ext}') $options;
        }
    }

    @include small() {
        background: url('#{$-path}#{$name}_small.#{$ext}') $options;

        @include retina() {
            background: url('#{$-path}#{$name}_small@2x.#{$ext}') $options;
        }
    }
}
