.typography-background              { z-index: -1; }

.mapboxgl-marker:before             { z-index: 1; }
.hero-background                    { z-index: 1; }
.couple-block .couple-profile       { z-index: 1; }
#mapview .dotnav                    { z-index: 1; }
.slant-first                        { z-index: 1; }
.slant-last                         { z-index: 1; }

.hero-content                       { z-index: 2; }
.couple-block .typography-headline  { z-index: 2; }
#map h1                             { z-index: 2; }
#save-the-date                      { z-index: 2; }
.modal-overlay                      { z-index: 2; }

.modal                              { z-index: 3; }

#modal-profile .avatar              { z-index: 4; }

@include small() {
    .couple-block .couple-profile   { z-index: 3; }
}
