html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: color(charcoal);
    background-color: color(white);
}

body:before {
    content: '';
    float: left;
    height: 100%;
    width: 0;
    margin-top: -32767px;
}

#main {
    min-height: 100%;

    #content {
        padding-bottom: map-get($footer-height, large);

        @include small() {
            padding-bottom: map-get($footer-height, small);
        }
    }
}

a,
a:link,
a:visited {
    font-weight: 600;
    text-decoration: none;
    color: color(rose);

    &:hover {
        text-decoration: underline;
    }

    &.color-charcoal {
        @extend .color-charcoal;
    }
}

p,
address {
    margin-bottom: 1.6em;

    &:last-child {
        margin-bottom: 0;
    }
}

i {
    font-style: oblique;
}

.list-inline li {
    display: inline-block;
}

.list-default {
    list-style: square;
    margin-left: 1em;
    margin-bottom: 1.6em;

    li {
        margin-bottom: 0.75em;
    }
}

//
// Section
//
.section-padding {
    display: block;
    padding: 13.3em 0;

    @include small() {
        padding: 10em 0;
    }
}

.section-content {
    display: block;
    width: 980px;
    margin-right: auto;
    margin-left: auto;

    @include medium() { width: 700px; }
    @include small() { width: 90%; }
}

.copy-block {
    margin: 0 13em 1.2em;

    @include medium() {
        margin: 0 6em 1.2em;
    }

    @include small() {
        margin: 0 1em 1.2em;
    }
}

.slant {
    overflow: hidden;
    position: relative;
    margin-bottom: -1 * $slant-difference;
    clip-path: polygon(0% $slant-difference, 100% 0%, 100% calc(100% - #{$slant-difference}), 0% 100%);

    &.slant-first {
        clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - #{$slant-difference}), 0% 100%);
    }

    &.slant-last {
        margin-bottom: 0;
        clip-path: polygon(0% $slant-difference, 100% 0%, 100% 100%, 0% 100%);
    }
}
