html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: color(charcoal);
    background-color: color(white);
}

body:before {
    content: '';
    float: left;
    height: 100%;
    width: 0;
    margin-top: -32767px;
}

#main {
    min-height: 100%;

    #content {
        overflow: auto;
        padding-bottom: $footer-height;
    }
}

a {
    color: color(charcoal);
    text-decoration: none;
}

p {
    margin-bottom: 0.45em;
}

//
// Section
//
.section-padding {
    display: block;
    padding: 13.3em 0;

    @include small() {
        padding: 10em 0;
    }
}

.section-content {
    display: block;
    width: 980px;
    margin-right: auto;
    margin-left: auto;

    @include medium() { width: 600px; }
    @include small() { width: 90%; }
}

.slant {
    overflow: hidden;
    position: relative;
    margin-bottom: -1 * $slant-difference;
    clip-path: polygon(0% $slant-difference, 100% 0%, 100% calc(100% - #{$slant-difference}), 0% 100%);

    &.slant-first {
        clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - #{$slant-difference}), 0% 100%);
    }

    &.slant-last {
        margin-bottom: 0;
        clip-path: polygon(0% $slant-difference, 100% 0%, 100% 100%, 0% 100%);
    }
}
