//
// Typography
//
html,
body,
.font-reset {
    font: 400 18px / 26px $-default-family;

    @include medium() {
        font: 400 16px / 24px $-default-family;
    }

    @include small() {
        font: 400 16px / 24px $-default-family;
    }
}

.typography-headline {
    @include typography(headline);
    position: relative;
    color: color(rose);

    .typography-background {
        @include typography(headline-background);
        position: absolute;
        top: 50%;
        left: -0.2em;
        text-transform: uppercase;
        transform: translateY(-50%);
        color: rgba(color(moss), 0.45);
    }
}

.typography-subheadline {
    @include typography(subheadline);
    margin-bottom: 0.4em;
}

.typography-big {
    @include typography(big);
    margin-bottom: 0.4em;
}

.typography-huge {
    @include typography(huge);
    margin-bottom: 0.4em;
}

.copy-margin {
    margin-left: 48px;
    margin-right: 48px;
}


//
// Weights
//
strong,
.strong {
    font-weight: 600;
}

//
// Letter Spacing
//
.letter-spacing-1 {
    letter-spacing: -0.04em;
}

.letter-spacing-2 {
    letter-spacing: -0.08em;
}

.letter-spacing-3 {
    letter-spacing: -0.12em;
}

.letter-spacing-t {
    letter-spacing: -0.14em;
}
