footer {
    display: block;
    position: relative;
    height: map-get($footer-height, large);
    margin-top: map-get($footer-height, large) * -1;
    padding: 48px 0;
    color: color(white);
    background-color: color(charcoal);
    clear: both;

    .footer-logo {
        display: block;
        width: 100px;
        height: 204px;

        @include small() {
            margin: 0 auto;
        }
    }

    .footer-linkstack {
        margin-bottom: 2em;

        a {
            letter-spacing: 0.125em;
            text-transform: uppercase;
        }
    }

    @include small() {
        .text-right {
            text-align: center;
        }

        height: map-get($footer-height, small);
        margin-top: map-get($footer-height, small) * -1;
    }
}
