#hero {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 55.238%;
    background: transparent url('../img/hero_large@2x.jpg') top center / cover no-repeat;
    box-sizing: border-box;

    #heartskull {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 190px;
        height: 388px;
        margin-left: -95px;
        transform: translate3d(0, -50%, 0);

        svg {
            width: 100%;
            height: 100%;
            margin-left: -1px;
        }
    }
}
